@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --color-green-20: #05af5a;
  --color-green-10: #97e7bf;
  --color-main-70: #031a29;
  --color-main-60: #083450;
  --color-main-50: #095280;
  --color-main-40: #00b7ff;
  --color-main-30: #2b87c0;
  --color-main-20: #71b7e2;
  --color-main-10: #dfebf1;
  --color-gray-70: #18181b;
  --color-gray-60: #27272a;
  --color-gray-50: #3f3f46;
  --color-gray-40: #71717b;
  --color-gray-30: #9f9fa9;
  --color-gray-20: #d4d4d8;
  --color-gray-10: #f4f4f5;
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green-20: var(--color-green-20);
  --color-green-10: var(--color-green-10);
  --color-main-70: var(--color-main-70);
  --color-main-60: var(--color-main-60);
  --color-main-50: var(--color-main-50);
  --color-main-40: var(--color-main-40);
  --color-main-30: var(--color-main-30);
  --color-main-20: var(--color-main-20);
  --color-main-10: var(--color-main-10);
  --color-gray-60: var(--color-gray-60);
  --color-gray-50: var(--color-gray-50);
  --color-gray-40: var(--color-gray-40);
  --color-gray-30: var(--color-gray-30);
  --color-gray-20: var(--color-gray-20);
  --color-gray-10: var(--color-gray-10);
  --color-font-sans: var(--color-font-geist-sans);
  --color-font-mono: var(--color-font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}

.dark {
  --color-main-70: #d3e7f3;
  --color-main-60: #71b7e2;
  --color-main-20: #083450;
  --color-main-10: #031a29;
  --color-gray-70: #f4f4f5;
  --color-gray-60: #d4d4d8;
  --color-gray-50: #9f9fa9;
  --color-gray-40: #71717b;
  --color-gray-30: #3f3f46;
  --color-gray-20: #27272a;
  --color-gray-10: #18181b;
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .containerCustom {
    @apply container w-full h-full px-3 md:px-5 py-10 md:py-20 mx-auto flex flex-col
  }
  .h1Custom {
    @apply font-bold text-4xl mt-10
  }
  .h2Custom {
    @apply max-w-2xl mx-auto mt-4 text-center text-gray-60 mb-14
  }
  .inputCustom {
    @apply px-3 py-2 rounded-md border border-gray-30 bg-background shadow-sm shadow-gray-10 outline-none focus:ring ring-main-30 transition-all duration-200
  }
  .errorSubmit {
    @apply text-sm text-red-600 -mt-1
  }
  .dashboardSectionTitle {
    @apply text-xl md:text-2xl font-bold text-center md:text-start
  }
  .dashboardSectionSubtitle {
    @apply text-sm md:text-base text-gray-50 mb-5 text-center md:text-start
  }
  .chartTitleCustom {
    @apply text-xl font-semibold
  }
  .layoutDiv {
    @apply flex-1 flex flex-col gap-12
  }
  .finishedCustom {
    @apply bg-green-100 text-green-900 dark:bg-green-900 dark:text-green-100
  }
  .pendentCustom {
    @apply bg-yellow-100 text-yellow-900 dark:bg-yellow-900 dark:text-yellow-100
  }
  .successMsg {
    @apply text-green-500 text-sm text-center
  }
  .chartFooter {
    @apply flex items-start gap-2 text-xs md:text-sm font-medium
  }
}

.highlight_underline{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 10px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  overflow: hidden;
  background: var(--color-main-30);
  z-index: 1;
  opacity: 0.7;
}
.highlight_underline::before{
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-linear-gradient(left,rgba(255,255,255,0)0%,#71b7e2,50%,rgba(255,255,255,0)100%);
  background: -moz-linear-gradient(left,rgba(255,255,255,0)0%,#71b7e2,50%,rgba(255,255,255,0)100%);
  background: -o-linear-gradient(left,rgba(255,255,255,0)0%,#71b7e2,50%,rgba(255,255,255,0)100%);
  background: linear-gradient(90deg,rgba(255,255,255,0)0%,#71b7e2,50%,rgba(255,255,255,0)100%);
  width: 35%;
  -webkit-animation: underline-glide 2s linear infinite;
  -moz-animation: underline-glide 2s linear infinite;
  -o-animation: underline-glide 2s linear infinite;
  animation: underline-glide 2s linear infinite;
}

@keyframes underline-glide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}

.noStudyImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 48px;
  font-weight: bold;
  --webkit-text-stroke: 2px red;
  opacity: 0.5;
}
.noStudyImage::before {
  content: "ESTUDO";
  position: absolute;
  color: var(--color-main-40);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .noStudyImage {
    font-size: 24px;
  }
  .noStudyImage::before {
    font-size: 26px;
  }
}